html,
body {
  height: 100vh;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--color-text);
  font-family: var(--font-primary);
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--primary);
}
.imagen-meme {
  border-radius: 1000%;
  width: 100%; /*estaba 150px;*/
  max-width: 110px;
  border-style: dotted;
  border-color: var(--text);
  margin-right: 30px;
}
.tituloMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
.presentacion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.tituloPrincipal {
  text-align: center;
  font-size: 30px;
  font-weight: 600;

  letter-spacing: -1px;
  font-family: "Bungee Shade", cursive;
}

/* <<<<<<<<< BOTONES >>>>>>>>>>>>>*/

.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.button {
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  font-size: 14px;
  margin: 10px;
}

.btn {
  border-radius: 100px;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: var(--text);
  background: none;
}

.btnPanel {
  border: none;
  padding: 10px;
  cursor: pointer;
}
i {
  font-size: 20px;
}

.buttonDownloader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
  background-color: var(--btn);
}
#downloaderMeme:hover {
  background-color: var(--barra);
}
.btnContorno {
  background: var(--primary);
  padding: 5px;
  border-radius: 20px;
  color: var(--text);
}
.oculto {
  display: none;
}

.flex-container {
  display: flex;
  align-items: center;
}

/*<<<<<<<<<<<<<  SWITCH >>>>>>>>>>>>>>>>*/

/*creo un selector*/
/*color claro, con sus variables que cambiaran cuando este modo claro*/
[data-theme="light"] {
  --primary: #ca72ee;
  --background: #f422ad;
  --background-image: url(imagenes/7153031.jpg);
  --text: #244269;
  --icono: #ff00e4;
  --btn: #49ff00;
  --btnReset: #fff;
  --barra: #ffd0d0;
}

/* modo oscuro*/
[data-theme="dark"] {
  --primary: #283149;
  --background: #244269;
  --background-image: url(imagenes/3047572.jpg);
  --text: #f422ad;
  --icono: #f70776;
  --btn: #ffb830;
  --btnReset: #fff;
  --barra: #a1c2f1;
}
.miUrl,
.btnTransition {
  background: var(--primary);
  color: var(--text);
}

body {
  font-family: "Roboto Serif", serif;
  margin: 0;
}

h1 {
  color: var(--text);
  margin: 0;
}
.miFooter {
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  color: var(--text);
  background-color: var(--primary);
  padding: 10px;
}

/* Estilos del switch */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sol,
.luna {
  color: var(--text);
  padding-top: 7px;
  padding-left: 7px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--primary);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--background);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/*<<<<<<<<<<<<<  MEME >>>>>>>>>>>>>>>>*/
.memeContainer {
  height: 100%;
  width: 100%;
  max-height: 550px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-color: var(--color-background);*/
  background-image: var(--background-image);
  background-size: cover; /* la imagen de fondo se adapta al tamaño de memeContainer*/
  background-repeat: no-repeat;
  padding: 0 20px;
}

.canvasMeme {
  width: 100%;
  max-width: 500px;
  height: 450px;
  background-color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.text-meme {
  width: 100%;
  background: white;
  color: black;
  text-align: center;
  padding: 35px 50px;
  font-size: 40px;
  font-weight: 800;
  font-family: Verdana;
}

#image__meme {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.editorContainer {
  height: 100%;
  transition: 0.3s ease all;
  background-color: var(--background);
}

/* <<<<<<<<<<<<< PANEL >>>>>>>>>*/
.panel {
  width: 16%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--text);
  background-color: var(--background);
  padding: 0px 15px;
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: -10px 10px 100px 5px rgba(0, 0, 0, 0.3);
  z-index: 10;
  overflow-y: hidden;
}

.cerrar {
  size: 2px;
  background: transparent;
  border: none;
  margin-left: 145px;
  margin-top: 5px;
}
.cerrar:hover {
  background-color: var(--barra);
}
.hidden {
  display: none;
}
.love {
  size: 100%;
  max-width: 30px;
}
.panelButtons {
  justify-content: center;
}

.hidden {
  display: none;
}
/* FILTROS  */

.filtros {
  padding: 0px 20px;
}
.miFiltro {
  margin: 5px;
  font-size: 20px;
  font-family: "Roboto Serif", serif;
  font-weight: bold;
}

.range {
  width: 100%;
  height: 6px;
  background-color: var(--barra);
  border-radius: 50px;
  appearance: none;
}
.titleFiltro {
  margin: 10px;
  font-size: 25px;
  font-family: "Roboto Serif", serif;
  display: flex;
  justify-content: center;
}

.btnReset {
  margin: 10px;
  padding: 5px;
  border-radius: 30px;
  background-color: var(--text);
  color: var(--btnReset);
}
input,
.textSelect {
  margin: 5px;
  background: var(--primary);
  color: var(--text);
}
.font__size,
.selectFiltros {
  margin: 5px;
}
.size {
  width: 50px;
}
.btnColores {
  background: none;
  border: none;
  margin-left: 5px;
}
/* Estilos del contorno */
.contorno-claro {
  -webkit-text-stroke: 2px white; /* Contorno blanco de 2px */
  text-stroke: 2px white;
}

.contorno-oscuro {
  -webkit-text-stroke: 2px rgb(9, 9, 9); /* Contorno blanco de 2px */
  text-stroke: 2px rgb(9, 9, 9);
}

.contornoNinguno {
  -webkit-text-stroke: 0px rgb(9, 9, 9); /* Contorno blanco de 2px */
  text-stroke: 0px rgb(9, 9, 9);
}



/*<<<<<<<<<<<<<<RESPONSIVE>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
/* Estilos para dimensiones inferiores a 425x621 */
@media (max-width: 425px) {
  .editorContainer {
    flex-direction: column; /* Cambiar la dirección de flexión */
    align-items: center; /* Centrar elementos verticalmente */
  }

  .panelContainer {
    width: 100%; /* Opcional: Asegurarse de que ocupe todo el ancho */
  }
}

/* Estilos para dimensiones entre 425x621 y 375x667 */
@media (min-width: 426px) and (max-width: 375px) {
  /* Agrega aquí tus estilos específicos para esta resolución */
}

/* Estilos para dimensiones entre 375x667 y 414x896 */
@media (min-width: 376px) and (max-width: 414px) {
  /* Agrega aquí tus estilos específicos para esta resolución */
}

/* Y así sucesivamente, agrega más Media Queries para otras dimensiones */

/* Por ejemplo: */
@media (min-width: 415px) and (max-width: 390px) {
  /* Estilos para dimensiones entre 415x390 y 390x844 */
}

@media (min-width: 391px) and (max-width: 893px) {
  /* Estilos para dimensiones entre 391x893 y 893x851 */
}

/* Y así sucesivamente... */
